<div class="container">
  <div *ngIf="!loggedIn">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="form-group">
        <label for="name">User Name</label>
        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="identifiers.username" placeholder="Your Username" required #nameCtrl="ngModel">
        <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a user name!</span>
      </div>
      <div class="form-group">
        <label for="side">Password</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="identifiers.password" placeholder="Your Password" required #pwdCtrl="ngModel">
        <span class="help-block" *ngIf="pwdCtrl.invalid && pwdCtrl.touched">Please enter a password!</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Login</button>
    </form>
  </div>
  <div *ngIf="loggedIn">
    <h2>You are logged in.</h2>
  </div>
  <div *ngIf="authenticationFailed" class="alert alert-danger">Could not log in, please verify username and password</div>
</div>
