<div class="container">
  <h1>Hi, you are on the Angular 4 frontend for the Stargazer Diary web application</h1>
  <p>Visit <a href="https://github.com/gerolvr/StargazerDiary-Frontend-Angular4">https://github.com/gerolvr/StargazerDiary-Frontend-Angular4</a> for more info and access the source code</p>
  <div *ngIf="!loggedIn; else logoutTemplate">
    <a class="btn btn-success" routerLink="/login">Login</a>
    <a class="btn btn-primary" routerLink="/register">Register</a>
  </div>
  <ng-template #logoutTemplate>
    <a class="btn btn-warning" (click)="logout()" style="cursor: pointer">Logout</a>
  </ng-template>
</div>
